Repository gravitational/gravity, pull requests merged in 2020-06, with the labels that each got.

#1646 Robotest 2.0.0 Nightly Staging
  build.assets/robotest_run_nightly.sh
Labels: build/jenkins, kind/enhancement

#1660 [5.5.x] Fix health check behavior during cluster mod
  Makefile
Labels: port/5.5

#1672 Add shrink scenario to PRs and bump robotest to 2.0.0.
  build.assets/robotest_run_nightly.sh
  build.assets/robotest_run_suite.sh
Labels: build/jenkins, dependencies, port/6.3

#1671 Add shrink scenario to PRs and bump robotest to 2.0.0.
  build.assets/robotest_run_nightly.sh
  build.assets/robotest_run_suite.sh
Labels: build/jenkins, dependencies, port/7.0

#1664 [5.5.x] Update disk/storage check
  Gopkg.lock
  Gopkg.toml
  Makefile
  lib/schema/checks.go
  lib/status/status.go
  tool/gravity/cli/clusterupdate.go
  tool/gravity/cli/commands.go
  tool/gravity/cli/register.go
  tool/gravity/cli/run.go
  vendor/github.com/gravitational/satellite/agent/agent.go
  vendor/github.com/gravitational/satellite/agent/errors.go
  vendor/github.com/gravitational/satellite/agent/proto/debug/debug.go
  vendor/github.com/gravitational/satellite/agent/proto/debug/debug.pb.go
  vendor/github.com/gravitational/satellite/agent/proto/debug/debug.proto
  vendor/github.com/gravitational/satellite/agent/server.go
  vendor/github.com/gravitational/satellite/lib/ctxgroup/ctxgroup.go
  vendor/github.com/gravitational/satellite/lib/rpc/client/client.go
  vendor/github.com/gravitational/satellite/lib/rpc/net.go
  vendor/github.com/gravitational/satellite/monitoring/nethealth.go
  vendor/github.com/gravitational/satellite/monitoring/ping.go
  vendor/github.com/gravitational/satellite/monitoring/storage.go
  vendor/github.com/gravitational/satellite/monitoring/storage_linux.go
  vendor/github.com/gravitational/satellite/monitoring/timedrift.go
  vendor/github.com/gravitational/satellite/utils/errors.go
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/errgroup/errgroup.go
Labels: port/5.5

#1690 [6.1.x] Update disk/storage check
  Gopkg.lock
  Gopkg.toml
  Makefile
  lib/schema/checks.go
  lib/status/status.go
  tool/gravity/cli/clusterupdate.go
  tool/gravity/cli/commands.go
  tool/gravity/cli/register.go
  tool/gravity/cli/run.go
  vendor/github.com/gravitational/satellite/monitoring/nethealth.go
  vendor/github.com/gravitational/satellite/monitoring/ping.go
  vendor/github.com/gravitational/satellite/monitoring/storage.go
  vendor/github.com/gravitational/satellite/monitoring/storage_linux.go
  vendor/github.com/gravitational/satellite/monitoring/timedrift.go
Labels: port/6.1

#1693 [7.0.x] Update disk check
  Gopkg.lock
  Gopkg.toml
  Makefile
  lib/schema/checks.go
  lib/status/status.go
  tool/gravity/cli/clusterupdate.go
  tool/gravity/cli/commands.go
  tool/gravity/cli/register.go
  tool/gravity/cli/run.go
  vendor/github.com/gravitational/satellite/monitoring/nethealth.go
  vendor/github.com/gravitational/satellite/monitoring/ping.go
  vendor/github.com/gravitational/satellite/monitoring/storage.go
  vendor/github.com/gravitational/satellite/monitoring/storage_linux.go
  vendor/github.com/gravitational/satellite/monitoring/timedrift.go
Labels: port/7.0

#1699 [5.5.x] Update default storage checker
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/gravitational/satellite/monitoring/defaults.go
Labels: port/5.5

#1701 [7.0.x] Update default storage checker
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/gravitational/satellite/monitoring/defaults.go
Labels: port/7.0

#1700 [6.1.x] Update default storage checker
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/gravitational/satellite/monitoring/defaults.go
Labels: port/6.1

#1707 [5.5.x] status improvements
  lib/ops/ops.go
  lib/ops/opsservice/service.go
  lib/status/status.go
  lib/storage/storage.go
  tool/gravity/cli/status.go
Labels: port/6.1, port/7.0

#1713 Add SUSE 12 SP5 to supported releases.
  docs/6.x/requirements.md
  docs/7.x/requirements.md
Labels: kind/docs

#1714 Fix broken external links reported by milv.
  docs/4.x/cluster.md
  docs/4.x/milv.config.yaml
  docs/4.x/monitoring.md
  docs/4.x/workshops.md
  docs/5.x/catalog.md
  docs/5.x/changelog.md
  docs/5.x/cluster.md
  docs/5.x/milv.config.yaml
  docs/5.x/workshops.md
  docs/6.x/changelog.md
  docs/6.x/cluster.md
  docs/6.x/config.md
  docs/6.x/milv.config.yaml
  docs/6.x/pack.md
  docs/6.x/requirements.md
  docs/6.x/testplan.md
  docs/7.x/changelog.md
  docs/7.x/cluster.md
  docs/7.x/config.md
  docs/7.x/milv.config.yaml
  docs/7.x/pack.md
  docs/7.x/quickstart.md
  docs/7.x/requirements.md
  docs/7.x/testplan.md
Labels: kind/docs

#1670 Add shrink scenario to PRs and bump robotest to 2.0.0.
  build.assets/robotest_run_nightly.sh
  build.assets/robotest_run_suite.sh
Labels: build/jenkins, dependencies

#1702 [5.5.x] System pods check
  Gopkg.lock
  Gopkg.toml
  Makefile
  assets/dns-app/resources/dns.yaml
  assets/site-app/resources/site.yaml
  assets/tiller-app/resources/resources.yaml
  vendor/github.com/gravitational/satellite/lib/kubernetes/constants.go
  vendor/github.com/gravitational/satellite/lib/kubernetes/names.go
  vendor/github.com/gravitational/satellite/monitoring/nethealth.go
  vendor/github.com/gravitational/satellite/monitoring/system_pods.go
  vendor/github.com/gravitational/satellite/utils/k8s.go
Labels: port/5.5

#1738 Refactor release table.
  docs/7.x/changelog.md
Labels: kind/docs

#1719 [5.5.x] Add since flag to gravity report
  lib/defaults/defaults.go
  lib/ops/operatoracl.go
  lib/ops/ops.go
  lib/ops/opsclient/opsclient.go
  lib/ops/opshandler/opshandler.go
  lib/ops/opsroute/forward.go
  lib/ops/opsservice/report.go
  lib/ops/opsservice/service.go
  lib/report/k8s.go
  lib/report/report.go
  lib/report/system.go
  lib/webapi/webapi.go
  tool/gravity/cli/commands.go
  tool/gravity/cli/register.go
  tool/gravity/cli/report.go
  tool/gravity/cli/run.go
  tool/gravity/cli/site.go
Labels: port/5.5

#1755 [5.5.x] update report collector
  lib/defaults/defaults.go
  lib/report/collector.go
  lib/report/system.go
  tool/gravity/cli/commands.go
  tool/gravity/cli/journal.go
  tool/gravity/cli/register.go
  tool/gravity/cli/run.go
Labels: port/6.1, port/7.0

#1751 Remove patch releases from release tables.
  docs/7.x/changelog.md
Labels: kind/docs

#1760 Update robotest upgrade targets.
  build.assets/robotest_run_nightly.sh
  build.assets/robotest_run_suite.sh
Labels: build/jenkins
