Repository gravitational/gravity, pull requests merged in 2020-10, with the labels that each got.

#2203 Add RHEL 8.2 and CentOS 8.2 to Gravity 5.5's supported distros
  docs/5.x/requirements.md
Labels: kind/docs

#2197 Mark robotest volumes readonly
  assets/robotest/run.sh
  assets/robotest/tele_build.sh
Labels: component/robotest

#2212 Remove Jenkinsfile.nightly
  Jenkinsfile.nightly
Labels: build/jenkins

#2228 Updated Logging-app
  Makefile
Labels: hacktoberfest-accepted

#2237 Updated Logging-app - 6.1.x
  Makefile
Labels: hacktoberfest-accepted

#2223 Remove an iterator to avoid serialziation errors
  Jenkinsfile
Labels: build/jenkins

#2233 Fix robotest tele build caching
  assets/robotest/Makefile
Labels: component/robotest, performance

#2238 Updated Logging-app - 7.0.x
  Makefile
Labels: hacktoberfest-accepted

#2271 Remove 6.2 upgrade testing from nightly builds
  assets/robotest/config/nightly.sh
Labels: component/robotest

#2247 [7.0.x] save manifest file prior to vendoring
  lib/builder/build.go
  lib/builder/builder.go
  lib/builder/builder_test.go
  lib/schema/manifest.go
  lib/schema/manifest_test.go
Labels: port/6.1, port/master

#2283 Add a shared cache to robotest image builds.
  Jenkinsfile
Labels: build/jenkins, component/robotest

#2290 [7.0] Add a shared cache to robotest image builds.
  Jenkinsfile
Labels: build/jenkins, port/7.0
