Repository gravitational/gravity, pull requests merged in 2020-08, with the labels that each got.

#1933 (7.0) Increase precedence of CentOS:7 testing, pin 7.0.13.
  build.assets/robotest/nightly_config.sh
  build.assets/robotest/pr_config.sh
Labels: build/jenkins, component/robotest, port/7.0

#1932 Increase precedence of CentOS:7 testing, pin 7.0.13.
  build.assets/robotest/nightly_config.sh
  build.assets/robotest/pr_config.sh
Labels: build/jenkins, component/robotest

#1963 Remove error in image classification call for tensorflow restnet
  examples/tensorflow-resnet/README.md
Labels: example

#2033 Bump logging application version to 5.0.5
  Makefile
Labels: port/5.5

#2041 (6.1) Bump robotest image to 2.1.0.
  build.assets/robotest/run.sh
Labels: component/robotest, port/6.1

#2042 (5.5) Add shrink scenario to PRs and bump robotest to 2.1.1.
  build.assets/robotest/nightly_config.sh
  build.assets/robotest/pr_config.sh
  build.assets/robotest/run.sh
Labels: component/robotest, port/5.5

#1967 Custom Robotest Image
  Makefile
  assets/robotest/resources/app.yaml
  assets/robotest/resources/charts/echoserver/Chart.yaml
  assets/robotest/resources/charts/echoserver/templates/echoserver-deployment.yaml
  assets/robotest/resources/charts/echoserver/values.yaml
  assets/robotest/resources/install.yaml
  assets/robotest/resources/status.yaml
  assets/robotest/terraform.tf
  build.assets/robotest/nightly_config.sh
  build.assets/robotest/pr_config.sh
  build.assets/robotest/run.sh
  build.assets/robotest/utils.sh
Labels: component/robotest

#2065 Clean up the README.md distributed in our release tarball
  build.assets/README.md
Labels: kind/docs
