Repository gravitational/gravity, pull requests merged in 2020-09, with the labels that each got.

#2087 Added licensing information to Building Clusters
  docs/7.x/pack.md
Labels: kind/docs

#2113 fix formatting for license docs section
  docs/7.x/pack.md
Labels: kind/docs

#2152 [7.0] Run robotest with regular user permissions.
  build.assets/robotest/run.sh
Labels: build/jenkins, component/robotest, port/7.0

#2154 [5.5] Run robotest with regular user permissions.
  build.assets/robotest/run.sh
Labels: build/jenkins, component/robotest, port/5.5

#2153 [6.1] Run robotest with regular user permissions.
  build.assets/robotest/run.sh
Labels: build/jenkins, component/robotest, port/6.1
